.heading{
    box-shadow: 5px 5px 5px grey;
}
body{
    background-size: 100% 100%;
}
canvas{
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}
.copy_right_footer{
    float: bottom;
    position: fixed;
    background-color: grey;
    box-shadow: 5px 5px gray;
    bottom: 0px;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: white;
}
.note{
    color: black;
    font-size: 14px;
    width: 100%;
}
.heading{
font-size: 24px;
box-shadow: 5px 5px 5px grey;
width: 100%;
margin: 0px;
}